body {
    width:800px;
}

h1,h2{
    background-color:gray;
    padding: 20px 20px 20px 10px;
    color:white;
}

h3{
    color:gray;
}

p{
    background-color:lightgray;
    padding: 20px 20px 20px 10px;
}